<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<template name="container">
    {{> navbar}}
    <div class="container">
        {{> yield}}
    </div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                &copy; Copyrighted 2015 by <a href="http://five-tech.com">Five-Tech</a>
            </div>
        </div>
    </footer>
</template>
