<template name="navbar">
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="#!" class="brand-logo">Logo</a>
            </div>
        </div>
    </nav>
</template>
